@charset UTF-8;

.wrap {
	margin: 20px auto 0;
	width: 300px;
}

.number-area {
	border: solid 1px #ccc;
	border-radius: 4px;
	background-color: #000;
	color: #fff;
	text-align: right;
	font-size: 15px;
	vertical-align: middle;
}

.number-area > p {
	display:inline;
	padding: 15px 10px;
}

.lap-time {
	color: #999;
	text-align: right;
	font-size: 13px;
}

.underline-text {
	border-bottom: solid 1px #ccc;
	padding-bottom: 3px;
	font-size: 13px;
}
